body {
    font-size: 16px;
}

h1 {
    font-size: 60px;
    letter-spacing: 1px;
}

h2 {
    font-size: 18px;
    font-weight: bold;
    margin-top: 30px;
}

.panel-body h2 {
    margin-top: 10px;
}

a, a:hover {
    color: #000;
    text-decoration: underline;
}

a:visited {
    color: #555;
}

img#logo {
    height: 62px;
    width: 43px;
}
